/Kanister.class
/Brennstoff.class
/Benzin.class
/Diesel.class
/Dose.class
/Getraenk.class
/Flasche.class
/Bier.class
/Wein.class
/Weisswein.class
/Rotwein.class
/FlascheGeneric.class
/WordCount.class
/UebGenerics2.class
/UebGenerics1.class
/UebGenerics6.class
/PointComparator.class
/Equality.class
/PointEqual.class
/Uebung4.class
/Uebung1.class
/GenericTyp1.class
/GenericTyp1Usage.class
/GenericTypmitWildcard.class
